.inner-page-holder{
  h1.light-heading{
    font-weight: 300;
    font-size: 26px!important;
  }
  h2.light-heading{
    font-weight: 300;
    font-size: 26px;
  }
  main{
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    .vh100{
      min-height: 100%;
      height: auto;
      height: 100%;
      &.row{
        height: 100%!important;
      }
    }
    .aside,
    .main{
      padding-left: 0;
      padding-right: 0;
    }

    .aside{
      position: relative;
      .addres-holder{
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .main{
      background-color: rgba(19,64,124,.6);
    }

    .section-nav{
      position: relative;
      top: 65px;
      float: right;
      width: 225px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-bottom:none;
      li{
        width: 100%;
        &.active{
          a{
            border: none;
            background-color: rgba(19,64,124,.6);
            color: #ffffff;
          }
        }
        a{
          display: block;
          padding:5px 10px;
          color: #ffffff;
          font-size: 14px;
          border: none;
          border-radius: 0;
          margin: 0;
          &:hover{
            text-decoration: none;
            background-color: #13407c;
          }
        }
      }
    }

    .tab-content{
      &.second-level{
        line-height: 20px;
        .tab-pane{
          padding:60px 30px 30px 30px;
          height: 100%;
        }
      }
      .nav-tabs{
        &.section-sub-nav{
          margin:9px 0 15px 0;
          padding: 0;
          list-style-type: none;
          border-bottom: none;
          position: relative;
          z-index: 3;
          .clearfix;
          li{
            padding: 0 20px 0 0;
            background: url("../images/dot.png") 100% 50% no-repeat;
            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;
              background: none;
            }
            a{
              border: none;
              border-radius:0;
              color: #ffffff;
              font-size: 13px;
              &:hover{
                border: none;
              }
            }
            &.active{
              a{
                font-weight: 500;
                background: none;
              }
            }
          }
        }
      }
      .tab-pane-content-holder{
        line-height: 20px;
      }
      #printingHouse{
        .section-bg{
          position: absolute;
          top: 0;
          left: auto;
          right: 0;
          background: url("../images/bg/typo.png") no-repeat 0 0;
        }
      }
    }
  }
  footer{
    height: 30px!important;
    padding: 7px 0 0 0;
    .copyright{
      float: right;
      width: 200px;
    }
  }
}