@media (max-width: 1280px){
  body{
    font-size: 12px!important;
    font-weight: 300;

    h1.light-heading{
      font-size: 26px!important;
    }
    h2.light-heading{
      font-size: 18px!important;
    }

    .navbar{
      &.navbar-default{
        min-height: 55px!important;
        .navbar-brand{
          width: 150px!important;
          margin: 10px 60px 0 0!important;
        }
        .navbar-nav{
          li{
            a{
              padding-top: 16px!important;
              padding-bottom: 16px!important;
              font-size: 13px!important;
            }
          }
        }
        .btn-add-order {
          margin: 2px 0 0 45px;
          font-size: 12px;
          padding: 7px 14px;
        }
      }
    }

    .section-nav-holder{
      .section-nav{
        &.nav{
          li{
            a{
              padding: 3px 10px!important;
            }
            ul.nav{
              margin-bottom: 10px!important;
              li{
                a{
                  padding: 3px 10px 3px 17px!important;
                }
              }
            }
          }
        }
      }
    }
  }
  .article-push-top{
    height: 80px!important;
  }
  #sectionOurServices{
    .service-item-title{
      font-size: 16px!important;
    }
  }
  #sectionWhyWe{
    .light-heading{
      margin-top: 30px!important;
    }
    p{
      font-size: 12px!important;
    }
  }
  #sectionOurClients{
    .clients-list-holder {
      li{
        margin: 8px!important;
      }
    }
  }
}

@media (max-width: 1110px){
  body{
    font-size: 12px;
    font-weight: 300;
    .navbar{
      &.navbar-default{
        .navbar-nav-holder{
          .make-lg-column(8);
          .btn-add-order{
            float: right;
          }
          .navbar-nav{
            li{
              a{
                padding-right: 5px!important;
                padding-left: 5px!important;
              }
            }
          }
        }
      }
    }
    .section-nav-holder{
      .section-nav{
        &.nav{
          li{
            a{
              padding: 3px 10px!important;
            }
            ul.nav{
              margin-bottom: 10px!important;
              li{
                a{
                  padding: 3px 10px 3px 17px!important;
                }
              }
            }
          }
        }
      }
    }
    &.inner-page-holder{
      .parent-content-holder{
        .content-holder{
          width: 620px!important;
          padding-right: 15px!important;
        }
      }
    }
    .article-push-top{
      height: 80px!important;
    }
  }
}

