@media (max-width: 1980px){
  #printingHouse{
    .section-bg{
      width: 634px;
      height: 425px;
    }
  }
  #suvenir{
    .section-bg{
      width: 645px;
      height: 537px;
    }
  }
  #advertisingMedia{
    .section-bg{
      width: 626px;
      height: 620px;
    }
  }
  #transportAdvertising{
    .section-bg{
      width: 687px;
      height: 510px;
    }
  }
  #BTL{
    .section-bg{
      width: 654px;
      height: 459px;
    }
  }
  #outdoorAdvertising{
    .section-bg{
      width: 659px;
      height: 369px;
    }
  }
  #webDevelopment{
    .section-bg{
      width: 663px;
      height: 468px;
    }
  }
  #SEO{
    .section-bg{
      width: 434px;
      height: 347px;
    }
  }
  .tab-pane-content-holder{
    width: 700px;
  }
}

@media (max-width: 1700px){
  .tab-pane-content-holder{
    width: 650px;
  }
  .section-bg{
    top: 50px!important;
  }

  #printingHouse{
    .section-bg{
      width: 445px;
      height: 425px;
    }
  }
  #suvenir{
    .section-bg{
      width: 445px;
      height: 537px;
    }
  }
  #advertisingMedia{
    .section-bg{
      width: 440px;
      height: 620px;
    }
  }
  #transportAdvertising{
    .section-bg{
      width: 500px;
      height: 510px;
    }
  }
  #BTL{
    .section-bg{
      width: 465px;
      height: 459px;
    }
  }
  #outdoorAdvertising{
    .section-bg{
      width: 470px;
      height: 369px;
    }
  }
  #webDevelopment{
    .section-bg{
      width: 500px;
      height: 468px;
    }
  }
  #SEO{
    .section-bg{
      width: 434px;
      height: 347px;
    }
  }
}
@media (max-width: 1440px){
  .tab-pane-content-holder{
    width: 570px;
  }
  .section-bg{
    top: 50px!important;
  }

  #printingHouse{
    .section-bg{
      width: 445px;
      height: 425px;
    }
  }
  #suvenir{
    .section-bg{
      width: 445px;
      height: 537px;
    }
  }
  #advertisingMedia{
    .section-bg{
      width: 440px;
      height: 620px;
    }
  }
  #transportAdvertising{
    .section-bg{
      width: 500px;
      height: 510px;
    }
  }
  #BTL{
    .section-bg{
      width: 465px;
      height: 459px;
    }
  }
  #outdoorAdvertising{
    .section-bg{
      width: 470px;
      height: 369px;
    }
  }
  #webDevelopment{
    .section-bg{
      width: 500px;
      height: 468px;
    }
  }
  #SEO{
    .section-bg{
      width: 434px;
      height: 347px;
    }
  }
}

@media (max-width: 1280px){
  body{
    font-size: 12px;
    font-weight: 300;
  }
  .inner-page-holder{
    h1.light-heading{
      font-size: 26px!important;
    }
    h2.light-heading{
      font-size: 18px!important;
    }
    h3.light-heading{
      font-size: 15px!important;
    }
    .logo-holder,
    .aside{
      width: 20%!important;
    }
    .navbar-nav-holder,
    .main{
      width: 80%!important;
      .tab-pane{
        padding-top: 54px!important;
      }
    }
  }
  .navbar-fixed-top{
    &.white-theme{
      .navbar-nav{
        li{
          a{
            font-size: 14px;
          }
        }
      }
    }
    .navbar-nav{
      li{
        a{
          font-size: 14px;
        }
      }
    }
  }
  .navbar-default{
    min-height: 50px!important;
    .navbar-nav{
      margin-left: 15px!important;
      margin-top: 0!important;
      li{
        a{
          font-size: 14px;
        }
      }
    }
    .navbar-header{
      .navbar-brand{
        margin-top: 1px!important;
        margin-left: 0!important;
        margin-right: 25px!important;
        width: 200px;
      }
    }
  }
  .section-nav{
    top: 45px!important;
    li{
      a{
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
  .section-sub-nav{
    margin-top: 0!important;
    li{
      a{
        font-weight: 300;
      }
    }
  }
  #sectionOurServices,
  #sectionWhyWe,
  #sectionOurClients,
  #sectionQuestion,
  #sectionContacts{
    h1.light-heading{
      font-size: 26px!important;
    }
    h2.light-heading{
      font-size: 18px!important;
    }
  }

  .section-bg{
    top: 50px!important;
  }

  #printingHouse{
    .section-bg{
      width: 445px;
      height: 425px;
    }
  }
  #suvenir{
    .section-bg{
      width: 445px;
      height: 537px;
    }
  }
  #advertisingMedia{
    .section-bg{
      width: 440px;
      height: 620px;
    }
  }
  #transportAdvertising{
    .section-bg{
      width: 500px;
      height: 510px;
    }
  }
  #BTL{
    .section-bg{
      width: 465px;
      height: 459px;
    }
  }
  #outdoorAdvertising{
    .section-bg{
      width: 470px;
      height: 369px;
    }
  }
  #webDevelopment{
    .section-bg{
      width: 500px;
      height: 468px;
    }
  }
  #SEO{
    .section-bg{
      width: 434px;
      height: 347px;
    }
  }
  .tab-pane-content-holder{
    width: 500px;
    font-size: 12px;
  }
  .aside{
    .addres-holder{
      right: 45px!important;
      font-size: 12px!important;
    }
  }
}

@media (max-width: 1200px) {
  .section-bg{
    display: none;
  }
  .tab-pane-content-holder{
    width: 100%;
    font-size: 12px;
  }
}
