.navbar-fixed-top{
  margin-bottom: 0;
  min-height: 55px;
  height: 55px;
  border-bottom: none;

  .container{
    position: relative;
  }

  .navbar-header{
    position: relative;
  }
  .navbar-brand{
    position: absolute;
    top: 13px;
    left: 0;
    margin-left: 0!important;
    width: 164px;
    height: 29px;
    background: url("../images/navbar/white-logo.png") 0 0 no-repeat;
  }

  .navbar-nav{
    width: 100%;
    text-align: center;
    li{
      display: inline-block;
      vertical-align: top;
      float: none;
      a{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        padding: 20px 20px 22px 24px;
        line-height: normal;
        &:hover{
          background-color: transparent;
          text-decoration: none;
          background: url("../images/white_hover.gif") 50% 45px no-repeat;
        }
      }
    }
  }
  .btn-add-order{
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 12px;
    padding: 10px 14px;
    border: solid 1px #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    &:hover{
      background-color: #ffffff;
      color: #13407c;
    }
  }
  &.white-theme{
    background-color: #ffffff;
    .navbar-brand{
      position: absolute;
      top: 13px;
      left: 0;
      margin-left: 0;
      width: 164px;
      height: 29px;
      background: url("../images/navbar/blue-logo.png") 0 0 no-repeat;
    }
    .navbar-nav{
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        vertical-align: top;
        float: none;
        a{
          color: #13407c;
          text-transform: uppercase;
          font-size: 12px;
          padding: 20px 20px 0 24px;
          line-height: normal;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .btn-add-order{
      position: absolute;
      top: 7px;
      right: 0;
      font-size: 12px;
      padding: 10px 14px;
      border: solid 1px #13407c!important;
      color: #13407c!important;
      text-transform: uppercase;
      background-color: transparent;
      &:hover{
        background-color: #13407c!important;
        color: #ffffff!important;
      }
    }
  }
}

.navbar-default{
  .affix;
  width: 100%;
  z-index: 2;
  border-radius: 0;
  margin-bottom: 0;
  height: 55px;
  border-bottom: none;
  z-index: 5;

  .navbar-header{
    .make-lg-column(4);
    text-align: right;
    .navbar-brand{
      display: inline-block;
      float: none!important;
      height: auto!important;
      margin: 10px 48px 0 0;
      padding: 0;
    }
  }
  .navbar-nav-holder{
    .make-lg-column(8);
    .navbar-nav{
      margin: 0;
      li{
        display: inline-block;
        vertical-align: top;
        float: none;
        &.active{
          a{
            &:hover{
              background-color: transparent;
            }
          }
        }
        a{
          color: #13407c;
          text-transform: uppercase;
          font-size: 12px;
          padding: 20px 20px 0 24px;
          line-height: normal;
          background-color: transparent;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .btn-add-order{
      position: relative;
      top: 7px;
      margin-left: 55px;
      font-size: 12px;
      padding: 10px 14px;
      border: solid 1px #13407c!important;
      color: #13407c!important;
      text-transform: uppercase;
      background-color: transparent;
      &:hover{
        background-color: #13407c!important;
        color: #ffffff!important;
      }
    }
  }
}