.navbar-fixed-top{
  margin-bottom: 0;
  min-height: 60px;
  border-bottom: none;
  .navbar-header{
    position: relative;
  }
  .navbar-brand{
    display: none;
  }

  .navbar-collapse{
    max-height: inherit;
    position: relative;
  }

  .btn-order{
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border: solid 2px #13407c;
    background-color: #ffffff;
    color: #13407c;
    text-transform: none;
    display: none;
    &:hover{
      background-color: #13407c;
      border-color: #365c90;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .navbar-nav{
    width: 100%;
    li{
      display: inline-block;
      vertical-align: top;
      float: none;
      a{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 20px 20px 21px 20px;
        line-height: normal;
        &:hover{
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
  &.white-theme{
    background-color: #ffffff;
    .btn-order{
      display: block;
    }
    .navbar-brand{
      display: block;
      height: auto!important;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 3px;
      z-index: 2;
    }
    .navbar-nav{
      margin: 0 auto!important;
      li{
        &.active{
          a{
            background-color: #13407c;
            color: #ffffff;
            &:hover{
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
        a{
          color: #13407c;
          &:hover{
            text-decoration: underline;
            color: #13407c;
          }

        }
      }
    }
  }
}

.navbar-default{
  border-radius: 0;
  margin-bottom: 0;
  min-height: 60px;
  border-bottom: none;
  .navbar-brand{
    display: block;
    height: auto!important;
    margin: 3px 0 0 0;
    padding: 0;
  }
  .navbar-nav{
    margin-top: 5px;
    margin-left: 25px;
    li{
      a{
        text-transform: uppercase;
        font-size: 15px;
        color: #13407c;
        &:hover{
          background: url("../images/inner_hover.gif") 50% 80% no-repeat;
        }
      }
      &.active{
        a{
          background: url("../images/inner_actve.gif") 50% 80% no-repeat;
        }
      }
    }
  }
}